
        #textbox {
            width: 100%;
            height: 40px;
            /* padding-top: 40px;
            padding-bottom: 40px; */
            margin-top: 20px;
            margin-bottom: 20px;
            padding-right: 40px; /* Space for button */
            font-size: 16px;
            border: 2px solid #ccc;
            border-radius: 5px;
            background-color: #222;
            color: white;
            text-align: center;
            cursor: pointer; /* Indicates text is selectable */
        }
        .copy-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 18px;
        }