/backend/config
/backend/vendor
.env
/mqtt-subscription/.env
/documentations
/node_modules
/rabbitmq
# Ignore all node modules
/node_modules
# Ignore all log files
*.log
# Ignore all temporary files
*.tmp
# Ignore all build artifacts
/build
# Ignore all coverage reports
/coverage
# Ignore all IDE specific files
.idea